<div class="image-header text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path  @cocktail.photo.key %>)">
  <h1><%= @cocktail.name.upcase %></h1>
</div>

<div class="d-flex justify-content-around m-3">
  <div class="ml-3">
    <h2>Ingredients</h2>
    <ul><% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> = <%= dose.ingredient.name %>
      <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: 'are you sure?' } %></li>
      <% end %>
    </ul>
  </div>
  <div class="container">
    <h2>Add Doses</h2>
    <%= render 'doses/new' %>
  </div>
</div>

<div class="d-flex justify-content-around m-3">
  <div class="ml-3">
    <h2>Reviews</h2>
    <% @cocktail.reviews.each do |review|  %>
    <hr>
    <p><%= review.content %></p>
    <p><strong>Rating:</strong> <% review.rating.times do  %> <i class="fas fa-star" style="color: #B0B510"></i>
    <% end %></p>
    <% end %>
  </div>
  <div class="container">
    <h2>Add Reviews</h1>
    <%= render 'reviews/new' %>
  </div>
</div>
